{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block content %}

    <div class="row" style="align-items: center; justify-content: center; height: 80vh">
        <div class="row" style="align-items: center; justify-content: center; height: 80vh">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Sign Up</h2>
                        {% for provider in social_auth_config.values %}
                            {% if provider.enabled %}
                                <div class="row">
                                    <div class="col">
                                        <a class="card mb-1" href="{{ provider.url }}">
                                            <div class="card-body d-flex-row d-flex-vertical-center">
                                                <i class="{{ provider.icon }} sso-logo mr-2"></i>
                                                <div style="width: 10px"></div>
                                                <span class="sso-text pl-2">
                                                    Log in with {{ provider.human_readable_name }}
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                Not {{ provider.human_readable_name }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}