version: 2.1

orbs:
  python: circleci/python@1.2
  codecov: codecov/codecov@3.0.0

workflows:
  sample:
    jobs:
      - build-and-test


jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.9
        environment:
          DJANGO_SECRET_KEY: test_django_secret_key
          DEBUG: False
          POSTGRES_DB_NAME: django_boilerplate
          POSTGRES_DB_USER: django_boilerplate
          POSTGRES_DB_PASSWORD: django_boilerplate
          POSTGRES_DB_HOST: localhost
          POSTGRES_DB_PORT: 5432
      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: django_boilerplate
          POSTGRES_PASSWORD: django_boilerplate
          POSTGRES_DB: django_boilerplate
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements/development.txt
      - run:
          name: Run tests
          command: |
            pytest --cov=. --cov-report=xml --ds=django_boilerplate.settings.test
      - run:
          name: Black
          command: |
            black -l 100 --check django_boilerplate users
      - run:
          name: Flake8
          command: |
            flake8 django_boilerplate users
      - codecov/upload:
          token: {CODECOV_TOKEN}