{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Welcome to Django Boilerplate</h1>
            <p>
                This is a basic Django setup you can utilise for all those side projects
                you're never going to finish...
            </p>
            <p>
                <a href="https://github.com/JakeWritesCode/django-boilerplate" style="color: white">
                    Read the docs to get started
                </a>
            </p>
        </div>
    </div>
{% endblock %}