.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-vertical-center {
    display: flex;
    align-items: center;
}

.link-no-style {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.sso-logo {
    font-size: 2rem;
}